.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 508px;
    margin-bottom: 30px;
}
.card{
    padding: 2em;
}
.product img {
    width: 286px ;
    height: 286px;
}
.product button{
    width: 100%;
}
.product button:hover {
    background-color: #FF9900;
    border-color: #01020f;
    
  }