.review-details{
    width: 571px;
    height: 107px;
    border: 1px solid #95A0A7;
    margin: 21px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.review-details img{
    width: 91px;
    height: 91px;
    margin: 8px;
}
.review{
    flex-grow: 1;
}
.review p{
    margin: 0 17px;
}
.review-space{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.review span{
    color: coral;
}
.review-space .delete-button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: #EB5757;
    background-color: rgba(235, 87, 87, 30%);
    margin-right: 10px;
}
