.cart{
    background-color: #f5b24e;
    padding: 25px;
    position: sticky;
    top: 0;
}
.clear-cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FF3030;
    color: white;
}
.cart .clear-button button{
    width: 100%;
}