.header{
    background-color: #1C2B35;
    height: 80px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

.header a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.header a:hover{
    color: orange;
}